<h1>Hello, world!</h1>
<p>
    Hi!
    My name is Leonardo.
<p>Welcome to my new single-page application, built with:</p>
<ul>
    <li><a href='https://get.asp.net/'>ASP.NET Core</a> and <a href='https://msdn.microsoft.com/en-us/library/67ef8sbd.aspx'>C#</a> for cross-platform server-side code</li>
    <li><a href='https://angular.io/'>Angular</a> and <a href='http://www.typescriptlang.org/'>TypeScript</a> for client-side code</li>
    <li><a href='https://webpack.github.io/'>Webpack</a> for building and bundling client-side resources</li>
    <li><a href='http://getbootstrap.com/'>Bootstrap</a> for layout and styling</li>
</ul>
<p> I like to create sites and work with development in general. Programming languages like C# and  the .NET framework are my favourites. Although I also like frontend a lot.

</p>



<br />

<p>Below you will find some links of work I have done</p>
<br />


<p>My work links!</p>
<h5><a href='http://betterfuture.se/'>Better Future website</a></h5>
<p>Created a website for Better Future using WordPress</p>
<br />

<h5><a href='http://www.johannayleonardo.com'>Official Homepage J&L</a></h5>
<p>
   
    WordPress official site created for Johanna & Leonardo, a latin dance/ instructor couple living in Stockholm
</p>
<br />
<h5><a href='http://www.dansterapi.info/'>Dansterapi</a></h5>
<p>

    WordPress official site for Dance/Movement Therapy (DMT)
</p>
<br />

<h5><a href="https://arttech-60c60.firebaseapp.com/#/"> Arttech</a></h5>
<p>
    A simple SPA (Single Page Application) site created with AngularJS, bootstrap , Firebase hosting. It is an experimental page
</p>

<h5><a href="https://github.com/AG-sida">Link to my Github</a></h5>

